{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock  %}

{% block css_files %}
<link rel='stylesheet' href="{% static 'blog/post.css' %}">
<link rel='stylesheet' href="{% static 'blog/index.css' %}">
{% endblock  %}

{% block content %}
  <section id='welcome'>
    <header>
      <img src="{% static "blog/images/mahdi.jpg" %}" alt='Mahdi - Author of this blog.'/>
      <h2>Mahdi's BLOG</h2>
    </header>
    <p>Hi, I am Mahdi and i love to blog about tech and the world!</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thought</h2>
    <ul>
      {% include "blog/includes/post.html" %}
    </ul>
  </section>
  <section id="about">
    <h2>What I do?</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi repudiandae quaerat magni obcaecati repellat quibusdam sint dolorum mollitia iste numquam, architecto, provident quam voluptate libero? Laborum cum beatae harum. Officiis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aliquam quas non iusto soluta accusamus voluptates sint ad dicta quasi voluptatum, odit deserunt ex architecto cumque commodi unde impedit perspiciatis.</p>
  </section>
{% endblock  %}